swagger: "2.0"
info:
  title: beego Test API
  description: |
    beego has a very cool tools to autogenerate documents for your API
  version: 1.0.0
  termsOfService: http://beego.me/
  contact:
    email: astaxie@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
basePath: /v1
paths:
  /auth/:
    get:
      tags:
      - auth
      description: |-
        get Auth
        <br>
      operationId: AuthController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply
          to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Auth'
        "403":
          description: ""
  /auth/{id}:
    get:
      tags:
      - auth
      description: |-
        get Auth by id
        <br>
      operationId: AuthController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Auth'
        "403":
          description: :id is empty
    put:
      tags:
      - auth
      description: |-
        update the Auth
        <br>
      operationId: AuthController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for Auth content
        required: true
        schema:
          $ref: '#/definitions/models.Auth'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.Auth'
        "403":
          description: :id is not int
    delete:
      tags:
      - auth
      description: |-
        delete the Auth
        <br>
      operationId: AuthController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
  /auth/login:
    post:
      tags:
      - auth
      description: |-
        user login
        <br>
      operationId: AuthController.Login
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.Login'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/utils.APIResponse'
        "400":
          description: missing or invalid fields
        "401":
          description: invalid email or password
        "500":
          description: internal error
  /auth/registration:
    post:
      tags:
      - auth
      description: |-
        user registration
        <br>
      operationId: AuthController.Registration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/models.Registration'
      responses:
        "201":
          description: ""
          schema:
            $ref: '#/definitions/utils.APIResponse'
        "400":
          description: missing or invalid fields
        "500":
          description: internal error
  /user/:
    get:
      tags:
      - user
      description: |-
        get User
        <br>
      operationId: UserController.Get All
      parameters:
      - in: query
        name: query
        description: Filter. e.g. col1:v1,col2:v2 ...
        type: string
      - in: query
        name: fields
        description: Fields returned. e.g. col1,col2 ...
        type: string
      - in: query
        name: sortby
        description: Sorted-by fields. e.g. col1,col2 ...
        type: string
      - in: query
        name: order
        description: Order corresponding to each sortby field, if single value, apply
          to all sortby fields. e.g. desc,asc ...
        type: string
      - in: query
        name: limit
        description: Limit the size of result set. Must be an integer
        type: string
      - in: query
        name: offset
        description: Start position of result set. Must be an integer
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.User'
        "403":
          description: ""
    post:
      tags:
      - user
      description: |-
        create User
        <br>
      operationId: UserController.Post
      parameters:
      - in: body
        name: body
        description: body for User content
        required: true
        schema:
          $ref: '#/definitions/models.User'
      responses:
        "201":
          description: '{int} models.User'
        "403":
          description: body is empty
  /user/{id}:
    get:
      tags:
      - user
      description: |-
        get User by id
        <br>
      operationId: UserController.Get One
      parameters:
      - in: path
        name: id
        description: The key for staticblock
        required: true
        type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.User'
        "403":
          description: :id is empty
    put:
      tags:
      - user
      description: |-
        update the User
        <br>
      operationId: UserController.Put
      parameters:
      - in: path
        name: id
        description: The id you want to update
        required: true
        type: string
      - in: body
        name: body
        description: body for User content
        required: true
        schema:
          $ref: '#/definitions/models.User'
      responses:
        "200":
          description: ""
          schema:
            $ref: '#/definitions/models.User'
        "403":
          description: :id is not int
    delete:
      tags:
      - user
      description: |-
        delete the User
        <br>
      operationId: UserController.Delete
      parameters:
      - in: path
        name: id
        description: The id you want to delete
        required: true
        type: string
      responses:
        "200":
          description: '{string} delete success!'
        "403":
          description: id is empty
definitions:
  models.Auth:
    title: Auth
    type: object
    properties:
      createdAt:
        type: string
        format: datetime
      expiredAt:
        type: string
        format: datetime
      id:
        type: integer
        format: int64
      token:
        type: string
  models.Login:
    title: Login
    type: object
    properties:
      email:
        type: string
      password:
        type: string
  models.Registration:
    title: Registration
    type: object
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
  models.User:
    title: User
    type: object
    properties:
      createdAt:
        type: string
        format: datetime
      email:
        type: string
      id:
        type: integer
        format: int64
      name:
        type: string
      password:
        type: string
  utils.APIResponse:
    title: APIResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/utils.any'
      error:
        $ref: '#/definitions/utils.any'
      status:
        type: integer
        format: int64
      success:
        type: boolean
  utils.any:
    title: any
    type: object
